 *{
   margin: 0 auto;
 }
  body {
   
    margin: 0 auto ;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    background-image: url("https://awv3node-homepage.surge.sh/build/assets/stars.svg");
    /* https://i.pinimg.com/originals/d5/54/09/d554090aad9cd82e16d78252ed52d0d1.gif */
     background-color: #ffffff;
     background-size: cover;
  }

  .todo-title {
    cursor: pointer;
  }

  .completed-todo {
    text-decoration: line-through;
  }

  .tab-list>span {
    padding: 5px 8px;
    border: 1px solid #282c34;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
  }

  .tab-list>span.active {
    background-color: #282c3415;
    color: #ffffff;
  }


  .container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  pointer-events: none;
  /* justify-content: start !important; */
  font-family: 'Kanit', sans-serif;
  line-height: 2px;
  text-transform: uppercase;
}

.number {
  font-size: 450px;
  color: #373c4c;
}

.number span {
  display: inline-block;
  position: relative;
  transform: translate3d(-35%, 0, 0);
}

.header {
  margin-left: 350px;
  font-size: 70px;
  color: white;
}

.socialIcon {
  font-size: 30;
  align-content: center;

}
.socialDiv {
  margin-Top:10px;
  margin-right: 10px;
  /* align-content: center;
  align-content: center; */
  vertical-align: middle;
  border-radius: 20%;
  background: #7dcfe486;
  /* padding: 0 auto; */
  width: 7.2vh;
  height: 6vh;
  padding: 5%;
  padding-bottom: 5%;
  border: 1px solid #BFBFBF;
  box-shadow: 5px 5px 5px #f1f6ff18;
}
.socialDiv:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  background: #df8f0f86;

}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 140%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  /* opacity: .1; */
  color:  rgb(255, 255, 255);
  background-color: #ffffff;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(34, 34, 34);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.navBar {
  display: flexbox;
background-color: #000000d0 !important;
  height: 7vh;
  background-color:  #35528C;
  align-items: center;
  align-content: center;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.26);
}

.navBarItem{
  margin-left: 0;
  font-size: 1.8vh;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.726);;
  margin: 4px;
}

.cardItem {
  
  background: rgba(255, 255, 255, 0.931);
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 10px -5px rgba(249, 255, 255, 0.171);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 8px solid white;
}
.cardItemr {
  
justify-content: center;
margin:  0 auto;
  background-size: cover;
  background-position: center center;
  align-self: center;

  transition: box-shadow 0.5s;
 
}